# --- Compiled Binaries ---
# Ignores files with no extension (common for macOS executables)
normalDistribution
inputGenerator
Distributiontest
* 2

# --- macOS Debug Folders ---
*.dSYM/

# --- Data I/O ---
*.in
*.out

# --- Visual Outputs ---
*.pdf
*.png
PDFs/

# --- System Files ---
.DS_Store

# --- VS Code ---
.vscode/

# --- CMake Build Files ---
build/